<div class="container">
  <h1>Connexion</h1>
  <div class="containerLogin">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <mat-form-field>
          <mat-label>Votre votre email</mat-label>
          <input matInput type="text" formControlName="email" autofocus />
          @if(loginForm.controls['email'].hasError('required')){
          <mat-error>Entrez votre username ou votre email</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="input-field">
        <mat-form-field>
          <mat-label>Enter votre mot de passe</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          @if(loginForm.controls['password'].hasError('required')){
          <mat-error>Entrez votre mot de passe</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="button">
        <button type="submit" [disabled]="!loginForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
