.input-field mat-form-field {
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.containerRegister{
    width: 70%; 
    max-width: 400px;
}

button{
    padding:15px;
}

.button{
    display:flex;
    flex-direction: column;
}